/* -------------------------------- */
/*           Basic Setup            */
/* -------------------------------- */
:root {
  /* --clr-prim: #5ec576; */
  --clr-prim: #2a9d8f;
  /* --clr-sec: #ffcb03; */
  --clr-sec: #e9c46a;
  /* --clr-ter: #ff585f; */
  --clr-ter: #e76f51;
  /* --clr-prim-darker: #4bbb7d; */
  --clr-prim-darker: #264653;
  /* --clr-sec-darker: #ffbb00; */
  --clr-sec-darker: #f4a261;
  /* --clr-ter-darker: #fd424b; */
  --clr-ter-darker: #bf5c43;
  --clr-prim-opacity: #5ec5763a;
  --clr-sec-opacity: #ffcd0331;
  --clr-ter-opacity: #ff58602d;
  --gradient-prim: linear-gradient(to top left, #39b385, #264653);
  --gradient-sec: linear-gradient(to top left, #ffb003, #ffcb03);
}
/* var(--color-primary); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: var(--gradient-prim);
  color: #555;
  font-family: 'Lato', 'Arial', 'Helvetica';
  font-size: 20px;
  /* font-weight: 300; */
  text-rendering: optimizeLegibility;
  /* pa que no se pase */
  overflow-x: hidden;
}
ul {
  list-style: none;
}
.clearfix {
  zoom: 1;
}
/* no es necesario entenderlo, es para limpiar el float de los elementos */
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* -------------------------------- */
/*        Reusable components       */
/* -------------------------------- */
.window {
  /* 30 width */
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem 2rem;
  box-shadow: 0 2rem 3rem rgb(0 0 0 / 25%);
  z-index: 1000;
  transition: all 1s;
}
.window h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: auto;
  text-align: center;
  margin-top: 20px;
}

/* SPINNER */
.spinner {
  margin: 5rem auto;
  text-align: center;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.message,
.error {
  max-width: 20rem;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  background-color: white;
  border-radius: 30px;
  display: flex;
}
.message ion-icon,
.error ion-icon {
  height: 4rem;
  width: 4rem;
  color: var(--clr-prim);
  transform: translateY(-0.3rem);
}
.message p,
.error p {
  margin-left: 1rem;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 600;
}

.hidden {
  display: none;
  opacity: 0;
}
.row {
  max-width: 1140px;
  /* margin: 0 auto 0 auto; */
  margin: 0 auto;
}
.row-small {
  max-width: 600px;
  /* margin: 0 auto 0 auto; */
  margin: 0 auto;
}
section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}
.progress {
  width: 250px;
  height: 10px;

  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.track {
  background-color: var(--clr-ter-opacity);
  top: 50%;
}
.lack {
  background-color: var(--clr-sec-opacity);
  top: 35%;
  margin-bottom: 10px;
}

.progress__fill-track {
  background-color: var(--clr-ter);
  width: 40%;
  height: 100%;
}
.progress__fill-lack {
  background-color: var(--clr-sec);
  width: 20%;
  height: 100%;
}
/* -------------------------------- */
/*              Buttons             */
/* -------------------------------- */
.btn {
  background-color: var(--clr-prim);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.btn:hover {
  transform: scale(1.05);
}
.btn:focus {
  outline: none;
}
.btn > *:first-child {
  margin-right: 1rem;
}
.btn {
  padding: 0.2rem 1rem;
  font-weight: 600;
}
.btn ion-icon {
  height: 2rem;
  width: 2rem;
  fill: white;
}
.btn--upload {
  margin-left: 35%;
}

.btn--close-modal,
.btn--close-tutorial {
  cursor: pointer;
  border: none;
  float: right;
  font-size: 1.5rem;
  background-color: white;
}
/* -------------------------------- */
/*           Paragraphs             */
/* -------------------------------- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  /* porque 15 en margin? lo que queda va a la derecha y a la izquierda */
}
.box p {
  font-size: 90%;
  line-height: 145%;
}
/* -------------------------------- */
/*             Header             */
/* -------------------------------- */
nav > p,
nav > h3 {
  font-size: 90%;
  font-weight: 500;
  color: white;
  margin-top: 8px;
  margin-right: 30px;
}
nav > p {
  float: left;
  margin-left: 30px;
}
nav > h3 {
  float: right;
}
.main-nav {
  background-color: var(--clr-prim-darker);
  height: 60px;
  list-style: none;
  position: fixed;
  width: 100%;
  padding-top: 10px;
  z-index: 9;
}
.main-nav li {
  padding-left: 15px;
  text-align: center;
  /* color: transparent; */
  float: left;
  width: 20%;
  transition: height 0.2s;
  list-style: none;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: #ccc;
  text-decoration: none;

  /* text-transform: uppercase; */
  /* transparent: not be visible until hover */
  transition: font-size 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active,
#section-active a {
  font-size: 130%;
  color: #fff;
}
/* .main-nav li p {
  font-size: 80%;
  font-weight: 400;
  padding-left: 10px;
  position: absolute;
  color: var(--clr-prim-darker);
} */
.circle:hover,
#section-active .circle {
  height: 60px;
}
.circle {
  background-color: var(--clr-prim-darker);
  height: 10px;
  width: 90px;
  border-radius: 50%;
  transition: 0.2s;
}
/* -------------------------------- */
/*               Icons              */
/* -------------------------------- */
.icon-big {
  font-size: 80px;
}

.icon-medium {
  font-size: 165%;
}

/* -------------------------------- */
/*               decks              */
/* -------------------------------- */

.section-decks {
  background-size: cover;
  background-position: center;
  /* 100 porciento del view port */
  min-height: 100vh;
  background-attachment: fixed;
  /* con esto la imagen queda clavada */
}
.deck {
  margin-top: 30px;
  width: 70%;
  overflow: hidden;
  background-color: var(--clr-prim);
  border-radius: 30px;
  color: white;
}

.deck ion-icon,
.deck span,
.deck__text,
.deck ul {
  float: left;
}
.deck > ion-icon {
  z-index: 0;
  padding: 20px 30px 20px 50px;
  font-size: 300%;
  color: var(--clr-prim-darker);
}
.deck span {
  padding-top: 40px;
}

.deck__text {
  padding-top: 30px;
  padding-right: 40px;
}
.deck ul {
  width: 100%;
}
.deck__play {
  cursor: pointer;
}
.deck__play ion-icon {
  position: relative;
  top: 5%;
  left: 35%;
}

/* -------------------------------- */
/*               cards              */
/* -------------------------------- */

.cards {
  background-color: var(--clr-prim-darker);
}
.card {
  color: white;
  height: 100px;
  background-color: var(--clr-prim-darker);
  width: 25%;
  float: left;
  cursor: pointer;
  border: 1px solid var(--clr-prim);
  padding-left: 60px;
  padding-top: 10px;
  /*  border-style: solid;
  border-width: 2px;
  border-color: var(--clr-prim); */
}
.corner-left {
  border-bottom-left-radius: 30px;
}
.corner-right {
  border-bottom-right-radius: 30px;
}

.card ion-icon {
  color: var(--clr-prim);
  font-size: 80px;
  transform: rotate(-45deg);
  transition: transform 0.4s;
}

.card:hover ion-icon {
  transform: rotate(0deg);
  transform: scale(1.25, 1.25);
}

.card p {
  position: absolute;
  padding-top: 20px;
}

/* -------------------------------- */
/*           add cards              */
/* -------------------------------- */
.add-card-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
}
.btn--add-card {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  color: white;
  transition: transform 0.2s;
}

.btn--add-card:hover {
  transform: scale(1.25, 1.25);
}
.overlay,
.tutoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.upload-card h2 {
  margin-bottom: 3rem;
}
.upload-card label {
  font-size: 1rem;
  font-weight: 700;
  display: block;
  margin-bottom: 16px;
}
.upload-card input {
  margin-bottom: 22px;
  font-weight: 100;
  border: 2px solid #cbcbcb;
  border-radius: 6px;
  width: 100%;
  padding: 8px;
}
#input_custom,
#input_custom_right {
  width: 45%;
  display: inline;
}
#input_custom_right,
#input_submit {
  float: right;
}
#input_submit,
#input_cancel {
  width: 45%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 50px;
}

/* -------------------------------- */
/*            PRACTICE              */
/* -------------------------------- */
.section-practice {
  padding: 0;
  height: 100vh;
}
.section-practice > p {
  text-align: center;
  color: white;
  transform: translateY(40vh);
  padding: 0 8rem;
}
.practice-options {
  background-color: white;
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 9;
  bottom: 30px;
}
.practice-options p,
.practice-options h3 {
  float: left;
  width: 20%;
  height: 10vh;
  text-align: center;
  padding-top: 3vh;
  color: #1b655c;
  font-weight: 500;
}
.practice-options button {
  cursor: pointer;
  color: white;
  float: left;
  width: 60%;
  height: 10vh;
  text-align: center;
  font-weight: 500;
  border: none;
}
.option-bad {
  background-color: #e76f51;
}
.option-normal,
.practice-options button {
  background-color: #868686;
}
.option-good {
  background-color: #177c70;
}
.option-bad,
.option-good,
.option-normal {
  cursor: pointer;
  color: white;
  float: left;
  width: 20%;
  height: 10vh;
  text-align: center;
  padding-top: 3vh;
}

input:checked + label {
  border: 2px solid white;
}

.upload-progress input {
  appearance: none;
  display: none;
}
.section-practice span,
.practice__continue {
  display: block;
  position: fixed;
  top: 60px;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: white;
  color: var(--clr-prim);
  margin-left: 60px;
  cursor: pointer;
  border: none;
}
/* -------------------------------- */
/*            Tutorial              */
/* -------------------------------- */
.section-tutorial {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
}
.section-tutorial p {
  padding: 2rem 0;
}

.tutorial__btn--prev {
  float: left;
  font-size: medium;
}
.tutorial__btn--next {
  float: right;
  font-size: medium;
}
.highlight {
  position: absolute;
  z-index: 1000;
}
.tutoOverlay {
  backdrop-filter: none;
}

/* -------------------------------- */
/*              FOOTER              */
/* -------------------------------- */
.footer {
  padding: 5rem 1.5rem;
  background-color: #37383d;
  font-size: 0.8rem;
  display: block;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.footer__item {
  margin-right: 2rem;
}

.footer__link {
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 2.5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.footer__copyright {
  color: #aaa;
  text-align: center;
}
